html {
  position: relative;
  z-index: 1;
}

html::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .4; 
  z-index: -1;
  background: url(images/background.jpg) no-repeat center center fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}


p {
	font-weight: bold
}

h2 {
	font-weight: bold;
}

.p1Box {
	margin: 0 auto;
	width: 30rem;
	height: 15rem;
}

.p2Box {
	margin: 0 auto;
	width: 30rem;
	height: 15rem;
}
#p1Image {
	float: left;
	height: 15rem;
	width: 15rem;
}

#p1Pic {
	 
	height: 12rem;
	width: 12rem;
}

#p2Image {
	float: left;
	height: 15rem;
	width: 15rem;
}

#p2Pic {
	
	height: 12rem;
	width: 12rem;
}

.Hidden {
	diplay: none;
	visibility: hidden;
}

